<div class="row " *ngIf="revisaRutaLogin()">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="https://portal.mgcertifica.cl/NoBorrar/logot.png" width="120px" alt="" srcset=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
                    <li class="nav-item">
                        <a class="nav-link" href="https://mgcertifica.cl" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://mgcertifica.cl/servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://mgcertifica.cl/empresa">Nuestra Empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://mgcertifica.cl/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['/candidato']">Datos Candidato</a>
                  </li>

                    <li class="nav-item" id="btnLogOut">
                        <a class="nav-link" style="cursor: pointer;" (click)="logOut()"><i
                                class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <a class="btn btn-sm btn-nav h-75 btn-outline-danger rounded-pill" href="https://www.mgcertifica.cl/contacto">Contacto</a>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->

                </ul>

            </div>
        </div>
    </nav>
</div>
